body{
       background-color: whitesmoke;

}
.navigation .navbar-brand{
    color: white; 
    margin-left: 35px; 
    padding: inherit; 
    font-weight: bold; 
    background-color:rgb(12, 86, 204);
}

.title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
    color: rgb(12, 86, 204)
  }



.navbar-toggler {
    font-size: 25px;
     background-color: rgb(12, 86, 204);
}

.container {
    /* width: 100%; */
    background-color: white;
    /* font-size: 15px; */
    margin-bottom: 20px; 
    /* padding:px;  */
    /* margin-top: 15px;
    opacity: 1;
    position:absolute ;
    padding: 20px;
    margin-bottom: 50px; */
}


  
/* Adding media queries to show smaller screen option when screen gets below 600px */
    /* @media (max-width: 600px) {
    .container
    {
    font-size: 10px;
    background-color: white;
    

    }


    } */
    

    /* Adding media queries to show bigger screen option when screen gets below 600px */
    /* @media (min-width: 601px) {
        .container
        {
        font-size: 15px;
        background-color: white;

        }
        .nav-item
        {
        text-transform: capitalize; 
        font-size: 20px;
    
        } */
  


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(14, 56, 124); 
    color: white;
    text-align: center;
    border-top-style: solid; 
    border-top-color: white;
     height: 30px; 
    font-size: 14px; 
    padding-top: 10px; 
    border: black;
    color: white; 
    
    }



